.subrallado{
    width: 500px;
    height: 1px;
    background-color: black;
    border-radius: 0%;

    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse;
}

@for $iterador from 1 through 1 {

    .subrallado-#{$iterador}{
        animation-name: animacion#{$iterador};

        @keyframes animacion#{$iterador}{
            100%{
                transform: translate(50% * $iterador);
            }
        } 
        
       

        }
    }