$gap-size: 20px;
$column-count: 4;

.grilla__container {
  display: grid;
  grid-template-columns: repeat($column-count, 1fr);
  gap: $gap-size;
  margin: $gap-size;
  padding: $gap-size;

  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
  
  @media (max-width: 480px) {
    grid-template-columns: 1fr;
  }
}

.grilla__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 0.5px solid;
  border-radius: 5px;
  border-color: #d7d4d4;
}

.grilla__parrafo {
  margin: 10px;
  padding: 10px;
}

.grilla__boton {
  border-radius: 5px;
  width: 100px;
  background-color: #bec2ca;
  margin-left: auto;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.grilla__boton:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
