
    .whatsapp-sticky {
        position: fixed;
        bottom: 80px;
        right: 20px;
        background-color: #25D366;
        padding: 10px 20px;
        border-radius: 5px;
        color: #fff;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    }

    .whatsapp-sticky a {
        text-decoration: none;
        color: #fff;
    }
